body {
  
}

img {
  width: 100%;
  height: auto;
}

.clear::after {
  content:""; /*疑似要素を実体化*/
  clear: both;/*floatを解除*/
  display: block;/*ブロック要素にする*/
  /*理由は、親要素の末尾に新たなボックスを生成することによって、高さを保つ基準ができる。*/
}

.container {
  max-width: 980px;
  margin:  auto;
}
.top-title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin: 40px;
}


/*==============================================
header
================================================*/
.header {
 padding: 20px 0;
}

.header-title {
  float: left;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
}

.header-right {
  float: right;
}

.header-nav-item {
  float: left;
  margin-left: 30px;
  margin-right: 20px;
  padding-top: 10px;
}

.header-nav-item a {
  font-size: 15px;
  line-height: 36px;
  font-weight: 600;
}



/*==============
main
================*/
main {
  background-image: url(https://github.com/nicyan-ict/deitoraday8/blob/main/main-vsual-nontitle.png?raw=true);
  background-size: cover;
  padding: 80px 0;/*ここで背景画像の高さを調節している*/
}

.main-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
.main-text {
  text-align: center;
  line-height: 1.5em;
  font-weight: bold;
}

/*==============
about
================*/

.about-img-left {
float: left;
width: 48%;
}

.about-text-right {
  float: left;
  width: 48%;
  margin-left: 20px;
  line-height: 1.5em;
}

/*==============
course
================*/

.course-img {
  display: flex;
  justify-content: space-between;
}
.course-img-left {
width: 30%;
}
.course-img-center {
  width: 30%;
}

.course-img-right {
  width: 30%;
}


/*==============
contact
================*/
.contact-text {
  text-align: center;
  padding: 20px;
}

input {
  width: 800px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 100px;
  border: 1px solid #3a3636;
  padding: 20px;
  font-size: 20px;
}

button {
  width: 600px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 100px;
  padding: 20px;
  font-size: 20px;
  background-color: #ec6d64;
  color: #fff;
  border: none;
}
.btn-register:hover {
  opacity: 0.7;
}

.contact-top-title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin: 0px;
  margin-top: 60px;
}

/*==============
footer
================*/
.copyright {
  float: right;
  height: 150px;
  padding: 50px;
}

@media only screen and (max-width:767px) {



  /*==============
  header
================*/
 .header-title {
   float: none;
   text-align: center;
 }

 .header-right {
   float: none;
 }
 .header-nav {
   display: flex;
   justify-content: space-around;
 }
 .header-nav-item {
   margin: 0;
 }

  /*==============
  main
================*/
.main-text {
  padding: 0 10px;
  padding-top: 5px;
}


/*==============
about
================*/

.about-img-left {
  float: none;
  width: 90%;
  margin: 0 auto;
}

.about-text-right {
  float: none;
  width: 90%;
  margin-left: 0;
  margin: 50px auto ;
}

/*==============
course
================*/
.course-img {
   display: block;
}
.course-img-center {
  width: 100%;
  margin-bottom: 20px;
}
.course-img-left {
  width: 100%;
  margin-bottom: 20px;
}
.course-img-right {
  width: 100%;
  margin-bottom: 20px;
}
.course-plan {
  padding-left: 10px;
  padding-top: 5px;
}

/*==============
contact
================*/
.contact-top-title {
  margin: 40px 0 10px 0;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

input {
  width: 100%;
  font-size: 16px;
}
button {
  width: 100%;
  font-size: 16px;
}

/*==============
copyright
================*/
.copyright {
  float: none;
  font-size: 8px;
  text-align: center;
  padding: 50px;
  height: 0px;
}
}





